@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  color: #fff;
}
.container {
  margin: 10px;
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.datos .summary .foto {
  border-radius: 50%;
  box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
    -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
  margin-bottom: 8px;
}
.h1-border {
  border: 1px solid #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding-bottom: 3px;
}
.row .period {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  margin-right: 5px;
}

.curriculum {
  display: flex;
  border-radius: 7px;
  justify-content: space-between;
  padding: 10px;
  background-color: grey;
}

.datos {
  border-radius: 7px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin: 10px;
  padding: 10px;
  width: 350px;
}
.history {
  border-radius: 7px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin: 10px;
  padding: 10px;
  width: 450px;
}
.contact ul {
  list-style: none;
}
.summary {
  text-align: center;
}
.row {
  display: flex;
}

.period {
  width: 150px;
  padding:10px;
}

.task {
  width: 300px;
  padding: 10px;
  border-left: 2px solid hsla(0, 0%, 100%, 0.616);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
}
.task p {
  text-justify: center;
}
.skill,
.languajes,
.contact {
  /* box-shadow: 0 0 10px #444444;*/
  border-top: 1px solid hsla(208, 100%, 97%, 0.925);
  margin-top: 10px;
}
.profile {
  border-top: 1px solid hsla(208, 100%, 97%, 0.219);
  margin-top: 10px;
}
.works {
  border-bottom: 1px solid hsla(208, 100%, 97%, 0.219);
  margin-top: 11px;
}

.line-education {
  border-bottom: 1px solid #fff;
  margin-top: 4px;
  margin-bottom: 5px;
  position: relative;
}
.educacion {
  border-top: 1px solid hsla(208, 100%, 97%, 0.219);
  margin-top: 8px;
}

.profile h3 {
  border-radius: 9px 9px 9px 9px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin-bottom: 6px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3px;
  padding-bottom: 8px;
}
.skill h3 {
  border-radius: 9px 9px 9px 9px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin-bottom: 6px;
}
.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3px;
  padding-bottom: 8px;
  width: 330px;
}
.skill p {
  width: 330px;
}
.languajes h3 {
  border-radius: 9px 9px 9px 9px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin-bottom: 6px;
}
.languajes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3px;
  padding-bottom: 8px;
}
.contact h3 {
  border-radius: 9px 9px 9px 9px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin-bottom: 4px;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3px;
  padding-bottom: 8px;
}

.contact-ul {
  display: flex;
  align-items: flex-start;
  width: 330px;
}
.h2-education{
display: flex;
height: 30px;
margin-top: 5px;
align-items: flex-start;





}
